In [49]:
import numpy as np
import pandas as pd

In [50]:
fashion = pd.read_csv('processed_dataset.csv')

In [51]:
fashion.head(1)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,brandname,image_filename,image_url,price
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,Turtle,15970.jpg,file://images\15970.jpg,6228.0

In [52]:
fashion.shape

(3180, 14)

In [53]:
#id, gender,mastercategory,subcategory,articletype,usage,productdisplayname,price

fashion = fashion[['id','gender','masterCategory','subCategory','articleType','usage','productDisplayName', 'image_url']]

In [54]:
fashion.head()

,id,gender,masterCategory,subCategory,articleType,usage,productDisplayName,image_url
0,15970,Men,Apparel,Topwear,Shirts,Casual,Turtle Check Men Navy Blue Shirt,file://images\15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Casual,Peter England Men Party Blue Jeans,file://images\39386.jpg
2,59263,Women,Accessories,Watches,Watches,Casual,Titan Women Silver Watch,file://images\59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Casual,Manchester United Men Solid Black Track Pants,file://images\21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Casual,Puma Men Grey T-shirt,file://images\53759.jpg

In [55]:
fashion['tags'] = fashion['gender'] + " " + fashion['masterCategory'] + " " + fashion['subCategory'] + " " + fashion['articleType'] + " " + fashion['usage']

In [56]:
fashion['tags'][0]

'Men Apparel Topwear Shirts Casual'

In [57]:
new_df = fashion[['id','productDisplayName','image_url', 'tags']]

In [58]:
new_df.head()

,id,productDisplayName,image_url,tags
0,15970,Turtle Check Men Navy Blue Shirt,file://images\15970.jpg,Men Apparel Topwear Shirts Casual
1,39386,Peter England Men Party Blue Jeans,file://images\39386.jpg,Men Apparel Bottomwear Jeans Casual
2,59263,Titan Women Silver Watch,file://images\59263.jpg,Women Accessories Watches Watches Casual
3,21379,Manchester United Men Solid Black Track Pants,file://images\21379.jpg,Men Apparel Bottomwear Track Pants Casual
4,53759,Puma Men Grey T-shirt,file://images\53759.jpg,Men Apparel Topwear Tshirts Casual

In [59]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_600153/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [60]:
new_df.head()

,id,productDisplayName,image_url,tags
0,15970,Turtle Check Men Navy Blue Shirt,file://images\15970.jpg,men apparel topwear shirts casual
1,39386,Peter England Men Party Blue Jeans,file://images\39386.jpg,men apparel bottomwear jeans casual
2,59263,Titan Women Silver Watch,file://images\59263.jpg,women accessories watches watches casual
3,21379,Manchester United Men Solid Black Track Pants,file://images\21379.jpg,men apparel bottomwear track pants casual
4,53759,Puma Men Grey T-shirt,file://images\53759.jpg,men apparel topwear tshirts casual

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [62]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [63]:
vector[0]

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0])

In [64]:
cv.get_feature_names_out()

array(['accessories', 'accessory', 'apparel', 'backpacks', 'bag', 'bags',
       'bath', 'beauty', 'belts', 'blush', 'body', 'bottomwear', 'boys',
       'bra', 'bracelet', 'briefs', 'capris', 'caps', 'care', 'casual',
       'chains', 'churidar', 'clutches', 'deodorant', 'dress', 'dresses',
       'duffel', 'dupatta', 'earrings', 'equipment', 'essentials',
       'ethnic', 'eyeliner', 'eyes', 'eyeshadow', 'eyewear', 'flats',
       'flip', 'flops', 'footballs', 'footwear', 'formal', 'foundation',
       'fragrance', 'free', 'gift', 'gifts', 'girls', 'gloss', 'gloves',
       'goods', 'handbags', 'headband', 'headwear', 'heels',
       'highlighter', 'innerwear', 'items', 'jackets', 'jeans',
       'jeggings', 'jewellery', 'jumpsuit', 'kajal', 'kurta', 'kurtas',
       'kurtis', 'laces', 'laptop', 'leggings', 'liner', 'lip', 'lips',
       'lipstick', 'lounge', 'loungewear', 'makeup', 'men', 'mist',
       'mobile', 'mufflers', 'nail', 'nails', 'necklace', 'nehru',
       'night', 'nightdress', 'nightwear', 'pants', 'patiala', 'pendant',
       'perfume', 'personal', 'polish', 'pouch', 'primer', 'ring',
       'salwar', 'sandal', 'sandals', 'saree', 'sarees', 'scarves', 'set',
       'sets', 'shirts', 'shoe', 'shoes', 'shorts', 'shrug', 'skirts',
       'smart', 'socks', 'sporting', 'sports', 'stockings', 'stoles',
       'suits', 'sunglasses', 'suspenders', 'sweaters', 'sweatshirts',
       'swimwear', 'ties', 'tights', 'tops', 'topwear', 'track',
       'tracksuits', 'travel', 'trolley', 'trousers', 'trunk', 'tshirts',
       'tunics', 'unisex', 'vests', 'wallets', 'watches', 'women',
       'wristbands'], dtype=object)

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
similarity = cosine_similarity(vector)

In [75]:
import cv2

def recommendation(id):
    #index = new_df[new_df['id'] == id].index[0]
    #dist = similarity[index]

    #closest = sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x:x[1])[1:6]

    #for i in closest:
        #print(i[0])
     #   print(new_df.iloc[i[0]].productDisplayName)
      #  temp_img = cv2.imread(new_df.iloc[i[0]].image_url)
       # cv2.imshow('output',cv2.resize(temp_img,(512,512)))
        #cv2.waitKey(0)
    try:
        index = new_df[new_df['id'] == id].index[0]
        dist = similarity[index]
    except IndexError:
        raise ValueError(f"Product ID {id} not found in the DataFrame.")

    closest = sorted(list(enumerate(dist)), reverse=True, key=lambda x: x[1])[:6]

    if len(closest) < 6:
        raise IndexError(f"Fewer than 6 similar products found for ID {id}")

    for i, _ in closest:  # Only use the index (i) for efficient image retrieval
        product_name = new_df.iloc[i].productDisplayName
        image_url = "images/" + str(new_df.iloc[i].id) + ".jpg"

        print(f"Similar Product: {product_name}")

        try:
            temp_img = cv2.imread(image_url)
            if temp_img is not None:  # Check if image loading was successful
                cv2.imshow('output', cv2.resize(temp_img, (512, 512)))
                cv2.waitKey(0)
                cv2.destroyAllWindows()
        except Exception as e:
            print(f"Error loading image: {e}")

In [76]:
recommendation(2040)

Similar Product: Puma Men Grey T-shirt
Similar Product: Inkfruit Mens Chain Reaction T-shirt
Similar Product: Puma Men's Stripe Polo Black T-shirt
Similar Product: Wrangler Men Motor Rider Red T-Shirts
Similar Product: Puma Men Scribble Black Tshirts
Similar Product: Manchester United Men Solid Red Tshirt