In [3]:
import numpy as np
import pandas as pd

In [4]:
fashion = pd.read_csv('processed_dataset.csv')

In [5]:
fashion.head(1)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,brandname,image_filename,image_url,price
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,Turtle,15970.jpg,file://images\15970.jpg,6228.0

In [6]:
fashion.shape

(3180, 14)

In [7]:
#id, gender,mastercategory,subcategory,articletype,usage,productdisplayname,price

fashion = fashion[['id','gender','masterCategory','subCategory','articleType','usage','productDisplayName']]

In [8]:
fashion.head()

,id,gender,masterCategory,subCategory,articleType,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Casual,Puma Men Grey T-shirt

In [9]:
fashion['tags'] = fashion['gender'] + " " + fashion['masterCategory'] + " " + fashion['subCategory'] + " " + fashion['articleType'] + " " + fashion['usage']

In [10]:
fashion['tags'][0]

'Men Apparel Topwear Shirts Casual'

In [11]:
new_df = fashion[['id','productDisplayName', 'tags']]

In [12]:
new_df.head()

,id,productDisplayName,tags
0,15970,Turtle Check Men Navy Blue Shirt,Men Apparel Topwear Shirts Casual
1,39386,Peter England Men Party Blue Jeans,Men Apparel Bottomwear Jeans Casual
2,59263,Titan Women Silver Watch,Women Accessories Watches Watches Casual
3,21379,Manchester United Men Solid Black Track Pants,Men Apparel Bottomwear Track Pants Casual
4,53759,Puma Men Grey T-shirt,Men Apparel Topwear Tshirts Casual

In [13]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_45822/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [14]:
new_df.head()

,id,productDisplayName,tags
0,15970,Turtle Check Men Navy Blue Shirt,men apparel topwear shirts casual
1,39386,Peter England Men Party Blue Jeans,men apparel bottomwear jeans casual
2,59263,Titan Women Silver Watch,women accessories watches watches casual
3,21379,Manchester United Men Solid Black Track Pants,men apparel bottomwear track pants casual
4,53759,Puma Men Grey T-shirt,men apparel topwear tshirts casual

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [52]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [53]:
vector[0]

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0])

In [54]:
cv.get_feature_names_out()

array(['accessories', 'accessory', 'apparel', 'backpacks', 'bag', 'bags',
       'bath', 'beauty', 'belts', 'blush', 'body', 'bottomwear', 'boys',
       'bra', 'bracelet', 'briefs', 'capris', 'caps', 'care', 'casual',
       'chains', 'churidar', 'clutches', 'deodorant', 'dress', 'dresses',
       'duffel', 'dupatta', 'earrings', 'equipment', 'essentials',
       'ethnic', 'eyeliner', 'eyes', 'eyeshadow', 'eyewear', 'flats',
       'flip', 'flops', 'footballs', 'footwear', 'formal', 'foundation',
       'fragrance', 'free', 'gift', 'gifts', 'girls', 'gloss', 'gloves',
       'goods', 'handbags', 'headband', 'headwear', 'heels',
       'highlighter', 'innerwear', 'items', 'jackets', 'jeans',
       'jeggings', 'jewellery', 'jumpsuit', 'kajal', 'kurta', 'kurtas',
       'kurtis', 'laces', 'laptop', 'leggings', 'liner', 'lip', 'lips',
       'lipstick', 'lounge', 'loungewear', 'makeup', 'men', 'mist',
       'mobile', 'mufflers', 'nail', 'nails', 'necklace', 'nehru',
       'night', 'nightdress', 'nightwear', 'pants', 'patiala', 'pendant',
       'perfume', 'personal', 'polish', 'pouch', 'primer', 'ring',
       'salwar', 'sandal', 'sandals', 'saree', 'sarees', 'scarves', 'set',
       'sets', 'shirts', 'shoe', 'shoes', 'shorts', 'shrug', 'skirts',
       'smart', 'socks', 'sporting', 'sports', 'stockings', 'stoles',
       'suits', 'sunglasses', 'suspenders', 'sweaters', 'sweatshirts',
       'swimwear', 'ties', 'tights', 'tops', 'topwear', 'track',
       'tracksuits', 'travel', 'trolley', 'trousers', 'trunk', 'tshirts',
       'tunics', 'unisex', 'vests', 'wallets', 'watches', 'women',
       'wristbands'], dtype=object)

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
similarity = cosine_similarity(vector)

In [74]:
def recommendation(id):
    index = new_df[new_df['id'] == id].index[0]
    dist = similarity[index]

    closest = sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x:x[1])[1:6]

    for i in closest:
        #print(i[0])
        print(new_df.iloc[i[0]].productDisplayName)

In [75]:
recommendation(59263)

John Players Men Brown Shirt
Gini and Jony Boy's Kaleb White Brown Kidswear
Indigo Nation Men Reversible Bling Pink Shirts
Turtle Check Men Yellow Shirt
Levis Men Check Red Shirts