In [1]:
import numpy as np
import pandas as pd

In [2]:
fashion = pd.read_csv('processed_dataset.csv')

In [4]:
fashion.head(1)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,brandname,image_filename,image_url,price
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,Turtle,15970.jpg,file://images\15970.jpg,6228.0

In [5]:
fashion.shape

(3180, 14)

In [10]:
#id, gender,mastercategory,subcategory,articletype,usage,productdisplayname,price

fashion = fashion[['id','gender','masterCategory','subCategory','articleType','usage','productDisplayName']]

In [11]:
fashion.head()

,id,gender,masterCategory,subCategory,articleType,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Casual,Puma Men Grey T-shirt

In [20]:
fashion['tags'] = fashion['gender'] + " " + fashion['masterCategory'] + " " + fashion['subCategory'] + " " + fashion['articleType'] + " " + fashion['usage']

In [21]:
fashion['tags'][0]

'Men Apparel Topwear Shirts Casual'

In [22]:
new_df = fashion[['id','productDisplayName', 'tags']]

In [24]:
new_df.head()

,id,productDisplayName,tags
0,15970,Turtle Check Men Navy Blue Shirt,Men Apparel Topwear Shirts Casual
1,39386,Peter England Men Party Blue Jeans,Men Apparel Bottomwear Jeans Casual
2,59263,Titan Women Silver Watch,Women Accessories Watches Watches Casual
3,21379,Manchester United Men Solid Black Track Pants,Men Apparel Bottomwear Track Pants Casual
4,53759,Puma Men Grey T-shirt,Men Apparel Topwear Tshirts Casual

In [25]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_41789/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [26]:
new_df.head()

,id,productDisplayName,tags
0,15970,Turtle Check Men Navy Blue Shirt,men apparel topwear shirts casual
1,39386,Peter England Men Party Blue Jeans,men apparel bottomwear jeans casual
2,59263,Titan Women Silver Watch,women accessories watches watches casual
3,21379,Manchester United Men Solid Black Track Pants,men apparel bottomwear track pants casual
4,53759,Puma Men Grey T-shirt,men apparel topwear tshirts casual